.btn-position {
  padding-top: 10px;
}

#left {
  text-align: start;
}

.card-body.form-width {
  width: 15rem;
}

.card.shadow.form-width {
  width: 40rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(137,90,90);
}

.around {
  border: 1px solid #000000;
}

@media (min-width:768px) {
  .sidebar {
    width: 14rem!important;
  }
}

.sidebar {
  width: 6.5rem;
  min-height: 100vh;
}

.sidebar a.active{
  text-decoration: none;
  color: rgb(137,90,90);
}

.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe);
  background-size: cover;
}

.navbar {
  position: relative;
  padding: .5rem 1rem;
}

.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form-control-mod {
  width: 20%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type=checkbox]:checked + .do{
  text-decoration: line-through;
}

#id_dob_0, #id_dob_1, #id_dob_2{
  width: 22%;
  height: calc(1.5em + .75rem + 2px);
  padding: .275rem .55rem; 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}


#id_gender, #id_level, #id_bornagain{
  list-style: none;
}