{% extends 'base.html' %}

{% block title %}
    TeenCity - Delete
{% endblock title %}

{% block content %}
    <a href="{% url 'teenlanding' %}">
        <h4 class="text-dark mb-1">&lt;&lt;Previous</h4>
    </a>
    <div class="container-fluid d-flex justify-content-center">
        <div class="card text-break text-left shadow align-self-center" style="width: 700px;">
            <div class="card-header py-3">
                <h6 class="text-primary m-0 font-weight-bold" style="font-size: 20px;font-family: Nunito, sans-serif;">Delete teen</h6>
            </div>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-12">
                            <h3 class="d-md-flex justify-content-md-center">Confirm Deletion</h3>
                        </div>
                        <div class="col-md-12 d-md-flex justify-content-md-center">
                            <h5>Delete: {{del.firstname}} {{del.lastname}}</h4>
                        </div>
                        <div class="col d-xl-flex justify-content-xl-center"><button class="btn btn-danger" type="submit" style="background-color: #bd2130;color: rgb(255,255,255);width: 259px;font-family: 'Open Sans', sans-serif;">Delete</button></div>
                    </div>
                </form>
            </div>
        </dsiv>
    </div>
{% endblock content %}  
            
{% block scripts %}
<script>

</script>
{% endblock scripts %}

