
{% extends 'base.html' %}

{% block title %}
    TeenCity - Teens
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-xl-10 col-lg-8 col-md-8 col-xs-8 col-sm-8">
            <h3 class="text-dark mb-4">TEENS</h3>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-xs-4 col-sm-4">
            <a class="btn btn-primary" type="button" style="width: 157px;height: 41px;color: rgb(78,115,223);background: rgba(255,255,255,0);" href="{% url 'addteen' %}">Add Teen</a>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Teens Info</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                </div>
            </div>
            <div class="row d-xl-flex justify-content-xl-center align-items-xl-center">
                <div class="col d-xl-flex justify-content-xl-center">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for teendisp in teendisps%}
                                <tr>
                                    <td>{{teendisp.firstname}}</td>
                                    <td>{{teendisp.lastname}}</td>
                                    <td>{{teendisp.age}}</td>
                                    <td>{{teendisp.gender}}</td>
                                    <td><a href="{% url 'viewteen' teendisp.id %}"><i class="fas fa-eye" style="font-size: 20px;"></i></a></td>
                                    <td><a href="{% url 'editteen' teendisp.id %}"><i class="fas fa-pen" style="font-size: 20px;"></i></a></td>
                                    <td class="d-xl-flex"><a href="{% url 'deleteteen' teendisp.id %}"><i class="material-icons" style="font-size: 23px;">delete</i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" aria-hidden="true">&laquo;</a></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active"><a class="page-link">{{ i }} <span class="sr-only page-link">(current)</span></a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">&raquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" aria-hidden="true">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

