{% extends 'base.html' %}

{% block title %}
    TeenCity - Teen View
{% endblock title %}

{% block content %}
    <a href="{% url 'teenlanding' %}">
        <h4 class="text-dark mb-1">&lt;&lt;Previous</h4>
    </a>
    <div class="container-fluid d-flex justify-content-center">
        <div class="card text-break text-left shadow align-self-center" style="width: 700px;">
            <div class="card-header py-3">
                <h6 class="text-primary m-0 font-weight-bold" style="font-size: 20px;font-family: Nunito, sans-serif;">View teen details</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Firstname</label>
                                <input class="form-control" type="text" style="font-size: 16px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.firstname}}">
                            </div>
                        </div>
                        <div class="col col-sm-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Lastname</label>
                                <input class="form-control" type="text" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.lastname}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-xs-12 col-sm-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Other name</label>
                                <input class="form-control" type="text" style="font-size: 16px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.othername}}">
                            </div>
                        </div>
                        <div class="col col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Email address</label>
                                <input class="form-control" type="email" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.email}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Gender</label>
                                <input class="form-control" type="text" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.gender}}">

                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Date of birth&nbsp;</label>
                                <input class="form-control" type="text" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.dob}}"></div>
                        </div>
                        <div class="col col-sm-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Age&nbsp;</label>
                                <input class="form-control" type="number" readonly="readonly" value= "{{teend.age}}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Phone number</label>
                                <input class="form-control" type="tel" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.phone}}"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-10 col-sm-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">School</label>
                                <input class="form-control" type="text" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.school}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                            <label style="font-size: 18px;font-family: Nunito, sans-serif;">Level</label>
                            <input class="form-control" type="text" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.level}}">
                            </div>
                        </div>
                        <div class="col col-sm-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Class</label>
                                <input class="form-control" type="text" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.cclass}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Address</label>
                                <textarea class="form-control" readonly="readonly">{{teend.address}}</textarea></div>
                        </div>
                        <div class="col col-sm-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Future ambition</label>
                                <input class="form-control" type="text" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.ambition}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                            <label style="font-size: 18px;font-family: Nunito, sans-serif;">Born again?</label>
                            <input class="form-control" type="text" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly" value= "{{teend.bornagain}}">
                            </div>
                        </div>
                        <div class="col col-sm-12 col-xl-6 col-lg-6">
                            <div class="form-group">
                                <label style="font-size: 18px;font-family: Nunito, sans-serif;">Hobbies</label>
                                <textarea class="form-control" style="font-size: 18px;font-family: Nunito, sans-serif;" readonly="readonly">{{teend.hobbies}}</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


            